<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename='stylesheets/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='stylesheets/login.css') }}" rel="stylesheet">
<!--        <link rel="stylesheet" href="/src/static/stylesheets/styles.css">-->
<!--        <link rel="stylesheet" href="/src/static/stylesheets/login.css">-->
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Home</a>
                {% if current_user.is_admin %}
            <li><a href="/users">Users</a></li>
            {% endif %}
            {% if current_user.is_authenticated == False %}
            <li class="active"><a href="/login">Login</a></li>
            {% endif %}
            {% if current_user.is_authenticated == False %}
            <li><a href="/register">Register</a></li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li><a href="/students">Students</a></li>
            <div class="right">
                <li class="right"><a href="/profile">Profile</a></li>
            </div>
            {% endif %}
        </ul>
    </nav>
</header>
<main id="login">
    <div>
        <h3 class="title">Login</h3>

        <form method="POST" action="/login">
            <input type="text" name="username" placeholder="Your username" autofocus="">
            <input type="password" name="password" placeholder="Your Password">
            <button>Login</button>
            <p>Don't have account? <a href="register">Register</a> </p>
        </form>

    </div>
</main>

</body>
</html>